html{
    scroll-behavior: smooth;
    overflow: hidden;
    height: 100vh;
}
body {
    overflow: hidden;
    height: 100vh;

    background-color: #235789;
    color: #6B7D8E;
    font-family: "Open Sans", "Comic Sans MS", sans-serif;
}

#page_container{
    position: relative;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: scroll

}
#content_and_footer{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #F7F7F7;
    border-radius: 15px;
    box-shadow: 5px 5px;
    margin-top: 3vh;
    min-height: 100vh;
    width: 80vw;
    min-width: 50vh;
    padding-bottom: 0;
    padding-top: 0;
    /* overflow: auto; */


}

#content{
    min-height: 85vh;
}

.section{
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

footer {
    position: absolute;
    bottom: 0;
    scroll-snap-align: start;
    background-color: #B7CDE5;
    width: inherit;
    min-height: 10vh;
    text-align: left;
    border-radius: 15px 15px 15px 15px;

}

.snapping_spacer{
    display: block;
    height:30vh;
    width: 100%;
}


.down-arrow{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    transition: transform .2s;
    height: 5vh;
    width: 5vw;
}
.down-arrow:hover {
    transform: scale(1.35);
}

#main-title{
    display: block;
    text-align: center;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.page-text{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

#spacer{
    height:7vw;
    width: 100%;
}
